<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stupidtree.hichat">

    <application
        android:name=".HiApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".ui.relationevent.RelationEventActivity"></activity>
        <!-- 不加↑这两行，裁剪没法用 -->
        <activity
            android:name=".ui.conversation.ConversationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.relation.RelationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.myprofile.MyProfileActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <provider
            android:name=".MFileProvider"
            android:authorities="com.stupidtree.hichat.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 加上他，否则无法从相册选取图片 -->
        <service android:name=".service.SocketIOClientService" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>